<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
</head>

<body>
<div ng-app="myapp" ng-controller="myctr">
  My name is: {{ (firstName + " " + lastName) | uppercase }}
  <br>
  <ul>
    <li ng-repeat="x in myData">
      {{ x.Name }} - {{x.Last_Name}}, {{x.City}}
    </li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in myData  | orderBy: 'City'">
        <td>{{ x.Name }}</td>
        <td>{{ x.Last_Name}}</td>
        <td>{{ x.City }}</td>
      </tr>
    </tbody>
  </table>

</div>
</body>
<script src="myapp.js"></script>
<script src="myctr.js"></script>
</html>
